<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>New User</h1>
<form th:action="@{/admin/new}" th:object="${user}" method="post">
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Age: <input type="text" th:field="*{age}"/></label><br/>
    <label>Password: <input type="password" th:field="*{password}"/></label><br/>
    <label>Enter role:
        <select size="2" multiple name="roles" >
            <option value="1">ADMIN</option>
            <option selected="selected" value="2">USER</option>
        </select>
    </label>

    <input type="submit" value="Create User"/>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
