<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>New User</h1>
<form th:action="@{/admin/new}" th:object="${user}" method="post">
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Age: <input type="text" th:field="*{age}"/></label><br/>
    <label>Password: <input type="password" th:field="*{password}"/></label><br/>

    <input type="submit" value="Create User"/>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
